@import "https://fonts.googleapis.com/css?family=Ubuntu:300,400,500";
@import "https://fonts.googleapis.com/css?family=Raleway:400";

body {
    width: 100vw;
    overflow: hidden;
}

#barra {
    position: absolute;
    width: 100vw;
    height: 20vw;
    top: 0vw;
    left: 0vw;
    background-color: #f9f9f9;
    border-bottom: 0.2vw solid #d4d4d4;
}

#perfil {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    top: 6vw;
    left: 40%;
    background-color: white;
    border-radius: 50vw;
    border: 0.2vw solid #d4d4d4;
}

#perfil img {
    position: absolute;
    border-radius: 50vw;
    width: 18vw;
    height: 18vw;
}

#output {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 50vw;
}

#info {
    position: absolute;
    top: 27vw;
    left: 47%;
    font-family: "Ubuntu", sans-serif;
    font-size: 1vw;
}

#infoo {
    margin-top: 30vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 2vw;
}

#imagenes {
    position: absolute;
    background-image: url(./img/WhatsApp\ Image\ 2024-09-05\ at\ 10.43.24\ AM.jpeg);
    background-repeat: no-repeat;
    background-position-y: 125%;
    top: 35vw;
    left: 30vw;
    width: 6vw;
    height: 6vw;
}

#imagenes2 {
    position: absolute;
    background-image: url(./img/WhatsApp\ Image\ 2024-09-05\ at\ 10.43.24\ AM.jpeg);
    background-repeat: no-repeat;
    background-position-y: 125%;
    background-position-x: 17%;
    top: 35vw;
    left: 36vw;
    width: 6vw;
    height: 6vw;
}

#imagenes3 {
    position: absolute;
    background-image: url(./img/WhatsApp\ Image\ 2024-09-05\ at\ 10.43.24\ AM.jpeg);
    background-repeat: no-repeat;
    background-position-y: 125%;
    background-position-x: 39%;
    top: 35vw;
    left: 44vw;
    width: 6vw;
    height: 6vw;
}

#imagenes4 {
    position: absolute;
    background-image: url(./img/WhatsApp\ Image\ 2024-09-05\ at\ 10.43.24\ AM.jpeg);
    background-repeat: no-repeat;
    background-position-y: 125%;
    background-position-x: 61%;
    top: 35vw;
    left: 51vw;
    width: 6vw;
    height: 6vw;
}

#imagenes5 {
    position: absolute;
    background-image: url(./img/WhatsApp\ Image\ 2024-09-05\ at\ 10.43.24\ AM.jpeg);
    background-repeat: no-repeat;
    background-position-y: 125%;
    background-position-x: 83%;
    top: 35vw;
    left: 58vw;
    width: 6vw;
    height: 6vw;
}

#imagenes6 {
    position: absolute;
    background-image: url(./img/WhatsApp\ Image\ 2024-09-05\ at\ 10.43.24\ AM.jpeg);
    background-repeat: no-repeat;
    background-position-y: 125%;
    background-position-x: 105%;
    top: 35vw;
    left: 65vw;
    width: 6vw;
    height: 6vw;
}

#imagenes:hover {
    animation-name: up;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#imagenes2:hover {
    animation-name: up;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#imagenes3:hover {
    animation-name: up;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#imagenes4:hover {
    animation-name: up;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#imagenes5:hover {
    animation-name: up;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#imagenes6:hover {
    animation-name: up;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes up {
    100% {
        background-position-y: 0%;
    }
    
}