* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

#container {
    position: absolute;
    width: 100vw;
    height: 49vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inp {
    position: absolute;
    top: 30vw;
    left: 41.5vw;
    width: 15.5vw;
    height: 2vw;
    border-radius: 0.3vw;
    z-index: 1;
}

.cajita {
    position: absolute;
    top: 30.2vw;
    left: 41.3vw;
    width: 15.5vw;
    height: 2vw;
    border-radius: 0.3vw;
    background-color: gray;
    box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.7);
}

#screen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16vw;
    height: 11vw;
    top: 15vw;
    left: 41vw;
    border-radius: 1vw;
    scale: 1.5;
}

#screens {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25.7vw;
    left: 48vw;
    border-radius: 1vw;
    font-size: 1.5vw;
    font-family: letra;
}

#screenss{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25.9vw;
    left: 45vw;
    border-radius: 1vw;
    font-size: 1.5vw;
    font-family: letra;
    opacity: 0.5;
}

#botonp {
    position: absolute;
    top: 35vw;
    left: 41.5vw;
    width: 7vw;
    height: 3vw;
    background-color: #424242;
    color: white;
    box-shadow: -2px 2px 3px 2px rgba(0, 0, 0, 0.7);
}

#botonn {
    position: absolute;
    top: 35vw;
    left: 50vw;
    width: 7vw;
    height: 3vw;
    background-color: #424242;
    color: white;
    box-shadow: -2px 2px 3px 2px rgba(0, 0, 0, 0.7);
}