@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap&#39;');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}
body {
    text-align: center;
    min-height: 100vh;
}

#container {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

#pokedex {
    width: 100%;
    max-width: 425px;
}

#inp {
    position: absolute;
    top: 65%;
    left: 15%;
    width: 60%;
    height: 6%;
    border-radius: 0.3vw;
    z-index: 1;
}

.cajita {
    position: absolute;
    top: 65.5%;
    left: 14.5%;
    width: 60%;
    height: 6%;
    border-radius: 0.3vw;
    background-color: gray;
    box-shadow: -1px 2px 1px 2px rgba(0, 0, 0, 0.7);
}

#screen {
    position: absolute;
    bottom: 51%;
    left: 50%;
    transform: translate(-63%, 20%);
    border-radius: 1vw;
    height: 18%;
}

#screens {
    position: absolute;
    right: 27%;
    top: 54.5%;
    border-radius: 1vw;
    font-weight: 600;
    font-size: clamp(8px, 5vw, 25px);
    color: #3a444d;
}

#screenss{
    position: absolute;
    right: 60%;
    top: 54.8%;
    border-radius: 1vw;
    font-weight: 600;
    font-size: clamp(8px, 5vw, 25px);
    color: #aaa;
}

#botonp {
    position: absolute;
    top: 80%;
    left: 15.5%;
    width: 25%;
    height: 6%;
    background-color: #424242;
    color: white;
    box-shadow: -2px 3px 0 #222, -4px 6px #000;
}

#botonn {
    position: absolute;
    top: 80%;
    left: 50.5%;
    width: 25%;
    height: 6%;
    background-color: #424242;
    color: white;
    box-shadow: -2px 3px 0 #222, -4px 6px #000;
}

#botonp:active{
    box-shadow: inset -4px 4px 0 #222;
}

#botonn:active{
    box-shadow: inset -4px 4px 0 #222;
}